<!--投稿本数を日付で検索-->
<h4>検索結果</h4>
  <table class='table table-bordered'>
    <thead>
      <tr> 
        <th class="table-active">投稿数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= search_book %></td>
      </tr>
    </tbody>
  </table>